VITE_SUPABASE_URL=https://iyrypfkhuwlujeoctijp.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_2EJi0N1pz2q2nCj6l5VAkQ_QwVkguwQ
VITE_GUARDRAIL_API_URL=http://localhost:8000/v1/guardrail/scan
